/*   Font Collection
font-family: 'Roboto Mono', monospace;
font-family: 'Dosis', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/


* {
  margin: 0;
  padding: 0;
  box-sizing:
  border-box;
}


@media only screen and (max-width: 400px) {
.master { /*all main content*/
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
.box-1{
 margin:20px;
}
h1 {
 font-size:70px;
}

img.map{
 height:auto !important;
 max-width: 100% !important;
}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
 .master { /*all main content*/
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 h1 {
  font-size: 90px;
 }
 img.map{
 height:auto !important;
 max-width: 100% !important;
}
}

@media only screen and (min-width: 961px) {
.master { /*all main content*/
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 h1{
  font-size:120px;
 }
}







/* background color */
body {
  background-color: #EEEFF1; 
}

.nav-item{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
 }

.menu {
  margin:0;
  padding:0;
  width:100%;
  justify-content: center;
}
.collapse navbar-collapse{

 text-align: center;
}
#navbarResponsive {
 justify-content: center;
}
.navbar-expand-lg {
 justify-content: center;
}
/*flexbox*/
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 20px;
  background-color: #eeeff1;
  flex-wrap: wrap;
}
.container { /*navigation*/
  display: flex;
  flex-direction: row;
  text-align: center; 
}
.icon-collection{ /*left and right icons*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: 10px;
  flex-wrap: wrap
 }
.centerPhoto{
}
.box-1 { /*title heading*/
   justify-content: center;
   background-color: #eeeff1; 
}

/*Photos*/
.navbar-brand {
 padding:0;
 margin:0;
}
.icon {
  border: 3px solid #5a7e9c;
  margin: 25px;
}
.mapPhoto {
 padding: 20px;
 margin: 20px;
}


/* text */
h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
  color: #dbb476;
}



/* footer */
.footer {
  position: fixed;
  size: 20px;
  height: 40px;
  background-color: #6C7767;
  font-family: 'Roboto Mono', monospace;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 10px;
}
a:link {
  color: #F8F7F7;
}
a:visited {
  color: #F8F7F7;
}
a:hover {
  color: #B23E34;
}
