/*   Font Collection
font-family: 'Roboto Mono', monospace;
font-family: 'Dosis', sans-serif;
font-family: 'Rajdhani', sans-serif;

 
 
#dbb476 
*/


* {
  margin: 0;
  padding: 0;
  box-sizing:
  border-box;
}


@media only screen and (max-width: 400px) {
.container1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: 10px;
  flex-wrap: wrap;
}
.header{
 padding-bottom: 0px;
}

.content{
 display: flex;
 justify-content:center;
 align-items: center;
 flex-direction:column;
 padding-right: 20px;
 padding-bottom: 20px;
 padding-left: 25px;
}
h1{
 font-size:40px;
}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {

.content {
 padding-left: 60px;
 padding-right: 60px;
 padding-bottom: 20px;
}
h1{
 font-size:80px;
}
}

@media only screen and (min-width: 961px) {


.content {
 padding-left: 90px;
 padding-right: 90px;
 padding-bottom: 30px;
}

h1{
  font-size:100px;
}
}






/* background color */
body {
  background-color: #EEEFF1; 
  font-size: 100%;
}

.nav-item{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
 }

.menu {
  margin:0;
  padding:0;
  width:100%;
  justify-content: center;
}
.collapse navbar-collapse{
 text-align: center;
}
#navbarResponsive {
 justify-content: center;
}
.navbar-expand-lg {
 justify-content: center;
}
/*flexbox*/



.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex-wrap: wrap;
}
.container { /*navigation*/
  display: flex;
  flex-direction: row;
  text-align: center;
  
}





 .master { /*all main content*/
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
.box-1 { /*title heading*/
   justify-content: center; 
}

/*Photos*/
.navbar-brand {
 padding:0;
 margin:0;
}


/* text */
h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
   color: #364A29;
}
h3 {
   color: #96BBDA;
   font-family: 'Bebas Neue', cursive;
    font-size:40px;
   letter-spacing: .15em;
}
.list, .text {
 font-family: 'Roboto Mono', monospace;
  font-weight:100;
  font-size: 20px;
}
.list {
 padding-left: 60px;
}
.text {
 padding-left: 25px;
}

.bottom-space {
 padding-bottom: 30px;
}



/* footer */
.footer {
  position: fixed;
  size: 20px;
  height: 40px;
  background-color: #6C7767;
  font-family: 'Roboto Mono', monospace;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 10px;
}
a:link {
  color: #F8F7F7;
}
a:visited {
  color: #F8F7F7;
}
a:hover {
  color: #B23E34;
}
